@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1350px)
	/**/
	.main-screen .col-lg-6:last-child img
		max-width: 382px
	.black-sec__container
		max-width: 100%
		padding-left: 10vw


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	/**/
	.container 
		max-width: 720px
	.main-screen .col-lg-6:last-child 
		justify-content: center

	.main-screen__content
		padding-top: 0vw
	.main-screen__content-text
		padding-bottom: 5vw
	.black-section-content
		max-width: 100%
		h2 
			max-width: 100%
	.sample .items_slider
		min-height: 45vw
		height: 45vw
		.slider__content 
			min-height: 45vw
	.slider-label
		font-size: 9px
	.item-title
		font-size: 2.4vw
	.slider__text
		padding: 1.3vw
		padding-top: 0.8vw
		padding-bottom: 0
		padding-right: 0
		margin-left: 1vw
	.item-title:before
		bottom: -0.5vw
	.sample 
		.row 
			.col-lg-3 
				margin-bottom: 5vw
			.col-lg-3:last-child 
				margin-bottom: 0
	.text-section 
		padding-top: 10vw
		padding-bottom: 5vw
		br 
			display: none
	.text-section__item
		max-width: 100%
		margin-bottom: 10vw
	.icon-wrapper
		width: 5vw 
		height: 5vw
	
	.profil 
		.col-lg-6 
			margin-bottom: 5vw
	.prev svg,
	.next svg
		width: 10vw 
		height: 10vw
		transform: translateY(-50%) translateX(0)
	.media-content 
		h2 
			font-size: 28px
			span 
				font-size: 28px
		img 
			max-width: 99%
	.pink-section
		.container 
			width: 98%
			max-width: 98% !important
	.sample 
		.container 
			max-width: 95% 
	.text-section h2
		max-width: 540px 
		margin: 0 auto
		margin-bottom: 90px
	.text-section 
		padding-top: 100px
	.tailormag-item
		max-width: 100%
	.tailormag 
		padding-top: 100px
		h2

			margin-bottom: 80px
			max-width: 280px
		h4 
			max-width: 280px
	.cta
		.container 
			display: block 
		h2 
			max-width: 420px
			margin-left: 0
		p 
			text-align: center
		.button 
			width: 96px 
			height: 40px
			margin: 25px auto
			font-size: 13px
			font-family: "Calibre",-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif
	.path1,
	.path2 
		display: none
	.blog-item-text
		h1 
			max-width: 500px
			line-height: 1
	.page-container 
		max-width: 75%
		margin: 0 auto
	.blog-header
		padding-top: 30px
	.blog-item:not(:first-child)

		.blog-item-text h1
			font-size: 19px
			max-width: 200px
	.contact-section h2
		font-size: 24px
		span 
			font-size: 18px
	.favorite__item a,
	.favorite__item span
		//font-size: 1.2vw
	.favorite__item-text
		//width: 75%
	.all-article
		max-width: 80%
	.pablication-content
		max-width: 90%
		margin: 0 auto
	.publication__label
		transform: rotate(-90deg) translateY(-300%) translateX(-50%)
	.container.container-fav
		max-width: 100%
		width: 100%





	




/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	/**/
	.header
		padding-top: 25px 
		padding-bottom: 0px
	.main-screen h1 
		margin-top: 0
	.icon-wrapper
		width: 8vw 
		height: 8vw
		border-radius: 2vw
	.path1 
		top: 1vw
	.path2 
		bottom: 1vw
	.cta 
		padding-top: 15vw
		padding-bottom: 15vw
	input 
		margin-bottom: 15px
		height: 40px
	textarea 
		height: 130px
	.popup h3
		padding-bottom: 0px
	.blog-header
		.container 
			//flex-direction: column
	.blog 
		h1 
			font-size: 23px
	.blog-item__img
		height: 65vw
	.blog-item-text
		margin-left: 10px
		padding: 10px
		padding-left: 15px
	.blog-item
		margin-top: 10vw
	.favorite__item
		flex-direction: column
		.favorite__item-img,
		.favorite__item-text
			width: 100%
	.favorite__item-img
		margin-right: 0
	.favorite__item h3
		//font-size: 6vw
		margin-top: 20px
		//margin-bottom: 5vw
	.favorite__item a,
	.favorite__item span
		//font-size: 4vw
		//margin-bottom: 3vw
		//svg 
			//margin-right: 3vw
	.favorite__item a.favorite__items-btn
		width: 90vw
		//height: 15vw
	.tab-content h1
		padding-top: 5vw
	.black-sec-wrap
		flex-direction: column
		
	.black-sec__container .black-section-content
		width: 100%
		padding: 0 10vw
	.black-sec__container
		padding-left: 0
	.media-content
		padding-top: 100px 
		padding-bottom: 0
		h2 
			padding: 0 25px
		img 
			margin-top: 50px
	.pink-section 
		padding-top: 100px 
		padding-bottom: 50px
		.col-md-4 
			margin-bottom: 48px
	.cta 
		padding-top: 100px 
		padding-bottom: 100px
	.page-container 
		max-width: 100%
	.favorite__item a.favorite__items-btn
		justify-content: flex-start
		display: flex
	.favorite__items-btn:before
		top: 5.3vw
		left: -2vw
	
	.publication-info
		max-width: 90%
		margin: 0 auto
		margin-bottom: 60px
	.pablication-content
		.col-md-6 
			margin-bottom: 20px
	.pablication-content-wrapper
		padding-left: 0
	.publication__label
		    transform: rotate(-90deg) translateY(-400%) translateX(-50%)
	.pablication-content-title
		font-size: 22px
	










	


/* Extra Small Devices, Phones */
@media only screen and (max-width : 575px)
	/**/
	body 
		font-size: 16px
	h1 
		//font-size: 8.9vw
	h2 
		//font-size: 6.5vw
		span 
			font-size: 5vw
			line-height: 1
	h3 
		//font-size: 5vw
	h4 
		//font-size: 5vw

	.main-screen p
		font-size: 5vw
	.logo 
		img 
			width: 40vw
	.button
		padding: 2.5vw 3.5vw
	.main-screen 
		padding-bottom: 10vw
	.media-content 
		img 
			width: 100%
		h2 
			line-height: 1.2
			margin-bottom: 6vw
	.pink-section
		h4 
			margin-bottom: 2vw
		h2 
			//max-width: 60vw
			margin: 0 auto
		.row 
			margin-top: 10vw
		.col-lg-4 
			margin-bottom: 5vw
		.col-lg-4:last-child 
			margin-bottom: 0
	.media-content,
	.pink-section
		padding: 10vw 0
	.sample .items_slider
		min-height: 85vw
		height: 85vw
		.slider__content 
			min-height: 45vw
	.slider-label
		font-size: 3vw
	.item-title
		font-size: 4.6vw
	.slider__text
		padding: 2vw
		padding-top: 1.5vw
		padding-bottom: 0
		padding-right: 1vw
		margin-left: 1vw
	.item-title:before
		bottom: -1.5vw
	.sample
		padding: 10vw 0 
		.row 
			margin-top: 7vw
	.slider-wrapper 
		margin-top: 10vw
	.tailormag-item
		margin-bottom: 5vw
		h4
			min-height: auto
			margin-top: 4vw
	.tailormag
		padding-top: 10vw 
		padding-bottom: 0vw
	.icon-wrapper
		width: 14vw 
		height: 14vw
		border-radius: 2vw
		bottom: 3vw
		left: 3vw
	.path1 
		top: 1vw
		width: 26vw
	.path2 
		bottom: 1vw
		width: 26vw
	.cta 
		padding-top: 25vw
		padding-bottom: 25vw
	.footer__social
		a 
			width: 40px
			height: 40px
	.footer__sub-title
		font-size: 5vw
	.blog-header__logo
		margin-right: 0
		width: 100px
		height: 113px
		min-width: 100px
		margin: 0 auto
	.blog-header-label
		font-size: 2.3vw
		letter-spacing: 0vw
		left: -2px
	.blog-header-label:before
		width: 3vw
	.blog-header__content
		display: flex
		flex-direction: column
		align-items: flex-start
		text-align: left
		padding-left: 15px
		h2 
			display: flex 
			//justify-content: center
			//margin-top: 3vw
			font-size: 22px
			word-spacing: nowrap
			min-width: 220px

		p 
			//text-align: center
			font-size: 15px
		a 
			font-size: 15px
	.blog-header__bottom
		padding-top: 6.5px
	.popup-blog__content
		.blog-header__logo
			margin-left: 0
		p 
			font-size: 14px
		input 
			font-size: 12px
	.blog-header .container
		max-width: 100%
		overflow: hidden
	.blog-header__bottom a
		background: transparent
	.tab-header
		padding-bottom: 20px
		.container
			display: flex 
			//justify-content: space-between
			max-width: 100%
			padding-left: 0 
			padding-right: 0
			flex-wrap: wrap
		a 
			//margin-right: 0
	.blog-item-date
		margin-top: 2vw
	.blog-item-date:before
		height: 2px
	.blog-item
		margin-top: 2vw
	.blog-items 
		padding-top: 10vw
	.contact-section
		h2 
			font-size: 7vw
			span 
				font-size: 6.5vw
		.col-lg-6,
		.col-lg-3 
			margin-bottom: 30px
	.media-content
		padding-top: 100px 
		padding-bottom: 0
	.tailormag
		h2,
		h4 
			margin: 0 auto
		h2 
			padding-bottom: 80px
	.tailormag-item
		h4 
			margin-left: 0
			margin-top: 20px 
			margin-bottom: 9px
	.cta 
		padding-top: 100px 
		padding-bottom: 100px
		h2 
			margin: 0 auto
	.article-item
		margin-bottom: 30px

		.slider__content 
			display: flex
			//width: 55%
		.slider__text
			margin-left: 0
			
			transform: translateY(0)
		.slider-label
			font-size: 9px
		.item-title
			font-size: 17px
		.article-date
			font-size: 12px
			padding-top: 20px
		.item-title:before
			width: 36px 
			height: 4px
		img 
			width: 45%
	.all-article
		max-width: 90%
	.tab-content h1
		font-size: 20px
	.tab-header
		padding-left: 2vw 
		padding-right: 2vw
	.tab-header--page-link
		position: absolute
		right: 0
		top: 110%
	.tab-header
		position: relative
	.tab-header a
		margin-right: 10px
	.favorite__item
		margin-bottom: 60px
	.favorite__item h3
		margin-bottom: 20px
		max-width: 200px
	.favorite__item-text p
		margin-top: 20px
	







	



/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/





