@import "vars"
@import "fonts"

//start general style---
body 
	font-family: $roboto
	font-size: 16px
a 
	text-decoration: none
h1 
	font-size: 45px
	font-family: $pl
	line-height: 1.4
h2
	font-size: 32px 
	font-family: $pl
	line-height: 1.4
	text-align: center
	div 
		font-weight: 700
	span
		font-size: 28px
h3 
	font-size: 24px
	font-family: $pl
h4 
	font-size: 20px
	font-family: $pl
	font-weight: 700
h4.grey
	color: #959595
.container 
	max-width: 1140px
.item-title 
	font-size: 1.4vw
	line-height: 1.1
	padding-bottom: 1vw 
	position: relative 
	font-family: $pl
	span 
		font-family: $roboto
.item-title:before 
	content: ''
	position: absolute 
	bottom: 0 
	left: 0
	background: #000 
	height: 0.25vw
	width: 3vw	
	display: block
.sub-title--bold 
	font-weight: bold



.button
	color: $black
	padding: 12px 15px
	border: 1px solid #dcdcdc
	border-radius: 3px
	font-family: "Calibre",-apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",Arial, sans-serif
	font-weight: 500
	letter-spacing: 2px
	cursor: pointer
	transition: all 0.3s
	display: flex 
	justify-content: center 
	align-items: center
	a 
		color: $black
		display: flex 
		justify-content: center 
		align-items: center
.button:hover 
	border-color: $black

//end general style----
//start main screen style
.main-screen 
	background: $pink
	padding-bottom: 10vw
	.row 
		margin-top: 104px
	h1 
		margin-top: 43px
		//max-width: 455px

	p 
		font-size: 22px
	.col-lg-6:last-child 
		display: flex 
		justify-content: flex-end
		img 
			max-width: 455px
.main-screen__content
	img 
		width: 80%	

.main-screen__content-text
	height: 100% 
	display: flex 
	flex-direction: column 
	justify-content: center
.animation-delay-1
	animation-delay: 0.2s
.main-screen-p
	animation-delay: 0.5s	
.animation-delay-3
	animation-delay: 1s
//end main screen style

//start header
.header
	padding-top: 50px
	padding-bottom: 50px

	.container
		display: flex 
		justify-content: space-between
		align-items: center
	.button 
		letter-spacing: 2px
		line-height: 15px
		font-size: 15px
		margin-right: 6px
		margin-top: 2px
		height: 47px
//end header

.black-section 
	background: #000
	padding-top: 5.208vw
	color: #fff
.black-section
	img 
		width: 100%
.black-section-content
	height: 100% 
	display: flex 
	flex-direction: column 
	justify-content: center
	max-width: 90%
	h2
		max-width: 75%
		margin-bottom: 20px
		text-align: left
//start media-content 
.media-content 
	text-align: center
	padding: 5.208vw 0
	h2 
		span 
			font-size: 32px
	img 
		max-width: 962px
		display: block 
		margin: 0 auto 
		margin-top: 3vw
//end media-content

//start pink section
.pink-section
	padding: 5.208vw 0
	background: $pink
	h2
		text-align: center
	h2 
		margin-bottom: 5.208vw
	h4 
		margin-bottom: 14px
//sample
.sample
	padding: 5.208vw 0
	background: #000
	color: #fff
	h4 
		text-transform: uppercase
		letter-spacing: 3px
		margin-bottom: 2.5vw
	.row 
		padding-top: 5.208vw
	.slider 
		margin-top: 5vw
	.items_slider 
		outline: none
		min-height: 31vw
		.slider__content
			background: #fff
			margin: 0 1.3vw
			padding: 1.042vw
			padding-bottom: 0.2vw
			color: $black
			height: 100%
			min-height: 31vw
		
			img 
				width: 100%

.sample__header
	text-align: center
.slider-label
	font-size: 0.7vw
	text-transform: uppercase
.slider__text
	transform: translateY(-50%)
	background: #fff
	margin-left: 3vw
	padding: 0.7vw
	padding-bottom: 0
	padding-right: 0

//start text-section
.text-section 
	padding: 5.208vw 0
	padding-bottom: 0.2vw
	h2 
		margin-bottom: 5.208vw

.text-section__item
	max-width: 80%
	margin-bottom: 5vw
	p
		margin-bottom: 0
		font-family: "Calibre",-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans
	h4 
		margin-bottom: 14px
	ul 
		padding-left: 18px
		font-family: "Calibre",-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans

//end text section
.tailormag
	background: $pink
	padding: 5vw 0
	.col-lg-3 
		display: flex 
		justify-content: center
	h4.grey 
		text-align: center
		text-transform: uppercase
		margin-bottom: 2vw

	.row 
		margin-top: 5vw
.tailormag-item
	width: 100%
	display: block
	color: $black
	max-width: 236px
	h4
		margin-top: 1vw
		min-height: 55px
.tailormag-item:hover 
	color: $black
.item-icon 
	position: absolute
.tailormag__img
	height: 360px
	width: 100% 
	display: block
	overflow: hidden
	position: relative

	.tailormag-bg 
		height: 100% 
		min-width: 100%
.icon-wrapper
	background: #fff
	position: absolute 
	bottom: 0.5vw
	left: 0.5vw
	display: block
	width: 3vw
	height: 3vw
	border-radius: 0.2vw
	display: flex
	justify-content: center 
	align-items: center
	padding: 1vw
	display: flex 
	justify-content: center
	img 
		width: 80%
	
//cta 
.cta
	background: #ffc2b9
	padding: 7.813vw 0
	position: relative
	.container 
		display: flex 
		flex-direction: column
		align-items: center
	.button 
		margin-top: 1.5vw
		margin-bottom: 1.5vw
.button--black 
	background: $black 
	color: #fff
	border: 1px solid $black
.button--black:hover 
	background: #000
.path1 
	position: absolute 
	top: 2vw
	left: 0
	width: 15vw
.path2
	position: absolute 
	bottom: 2vw
	right: 0
	width: 15vw

//end cta

//start footer
.footer 
	background: $black
	color: #fff
	padding: 5vw 0
	text-align: center
	h2 
		font-family: $roboto
	.container 
		display: flex 
		flex-direction: column
		align-items: center
.footer__social
	display: flex 
	margin-bottom: 5vw
	a 
		display: flex 
		justify-content: center 
		align-items: center 
		width: 50px 
		height: 50px
		border: 1px solid #fff
		border-radius: 50%
		margin: 0 5px
		img 
			max-width: 50%
.footer__sub-title
	font-size: 21px
	margin-bottom: 25px
.footer__links a
	color: rgba(#fff, .25)
	margin: 0 10px
.footer__links a:hover 
	color: #fff
.footer__copy
	margin-top: 10px
	color: rgba(#fff, .25)
//end footer

//popup
.popup
	position: fixed 
	width: 100vw 
	height: 100vh
	max-height: 100vh
	background: rgba(#000, 0.3)
	top: 0 
	left: 0
	overflow-y: scroll 
	display: none
	h3 
		padding: 30px 20px
		padding-top: 50px
	form 
		padding: 20px


	.close 
		position: absolute 
		top: 15px 
		right: 20px
		transform: rotate(45deg)
		font-weight: 400
		font-size: 30px
		cursor: pointer


.popup-content
	width: 500px
	max-width: 95%
	border: 1px solid rgba(0,0,0,.2)
	background: #fff
	position: absolute 
	top: 1vw
	left: 50%
	transform: translateX(-50%)
input,
textarea 
	display: block 
	width: 100%
input 
	height: 50px
	margin-bottom: 30px
	padding-left: 20px
	border: 1px solid #000
textarea 
	height: 150px
	padding-left: 1.2vw
	padding-top: 0.8vw
	border: 1px solid #000
.form-footer
	display: flex 
	justify-content: flex-end
	padding-top: 2.604vw

//popup

//start page header 
.page-header 
	padding-top: 10px 
	padding-bottom: 10px
	border-bottom: 1px solid #f1f1f1

	.container 
		display: flex 
		justify-content: space-between
		align-items: center
		max-width: 1015px
.logo-sm 
	img
		height: 40px 
		width: 40px
.leng-wrapper
	display: flex
.leng-tab:last-child 
	margin-left: 5px
.leng-tab
	cursor: pointer
.leng-tab.active 
	border-bottom: 2px solid #000
//end page header

//start blog header
.blog-header
	padding-top: 130px
	.container
		display: flex
		max-width: 1010px
	h2 
		font-size: 37px
.blog-header__logo 
	border: 1px solid #f1f1f19e
	width: 163px 
	height: 163px 
	position: relative
	margin-right: 30px
	img 
		width: 100%
.blog-header-label
	position: absolute
	text-transform: uppercase
	font-size: 12px
	font-weight: 500
	transform: rotate(-90deg) translateX(-45%) translateY(-375%)
	top: 0 
	left: 0
	
.blog-header-label:before 
	content: ''
	height: 2px
	width: 20px
	background: #e8dacf
	display: block
	position: absolute
	left: -3px
	top: 50%
	transform: translateY(-50%) translateX(-100%)
.blog-header__content
	p 
		margin-bottom: 5px
	h2 
		display: flex 
		align-items: center
		img 
			width: 18px
			height: 18px
			margin-left: 10px
			margin-top: 8px
.blog-header__icons
	display: flex
	margin-right: 20px
	img 
		width: 17px	
.blog-header__bottom
	display: flex
	align-items: center
	padding-top: 20px
	a 
		background: $beige
		display: flex 
		flex-direction: column 
		align-items: center
		padding: 4px
		margin-right: 8px
.button-radius 
	font-size: 10px
	letter-spacing: 2px
	font-weight: bold
	border: 1px solid #000
	padding: 4px 10px
	border-radius: 15px
	cursor: pointer
//popup blog 
.popup-blog__content
	background: #fff
	position: absolute 
	top: 10vw 
	left: 50% 
	transform: translateX(-50%)
	padding: 20px
	width: 306px
	.blog-header 
		padding-top: 40px
		align-items: center
		display: flex
		padding-bottom: 30px
	.blog-header__logo
		width: 85px 
		min-width: 85px
		height: 85px
		margin-right: 15px
		display: flex 
		justify-content: center 
		align-items: center
		img 
			width: 80%
	h2 
		font-size: 18px
		display: flex 
		justify-content: flex-start
		text-align: left
		max-width: 120px
		align-items: flex-start
	form 
		padding: 0
	.blog-header__content
		display: flex 
		justify-content: flex-start
	.form-row
		display: flex
		justify-content: space-between
		input 
			width: 48%
	input
		height: 40px
		margin-bottom: 15px
	.form-footer
		padding-top: 10px
		button 
			font-size: 12px
.tab-header
	padding-top: 50px
	padding-bottom: 50px
	border-bottom: 1px solid #000
	.container 
		max-width: 1010px
	a 
		color: $black
		margin-right: 20px
	a.active 
		border-bottom: 1px solid #000
		padding-bottom: 4px
	.tab.red 
		color: #cf4242


//end blog header

//blog 
.blog 
	display: block
	.container 
		max-width: 1000px
.blog-item__img
	width: 100% 
	height: 495px
	overflow: hidden

	img 
		width: 100%
.blog-item
	margin-top: 50px
	display: block
.blog-item-date
	font-size: 13px
	position: relative
	padding-top: 5px
	display: block 
	margin-top: 20px
.blog-item-date:before 
	content: ''
	height: 4px 
	width: 40px
	background: $black
	display: block
	margin-bottom: 2px
.blog-item-text
	background: #fff 
	padding: 20px
	display: block
	color: $black
	margin-left: 20px
	transform: translateY(-40px)
.contact-section
	border-top: 1px solid #000
	border-bottom: 1px solid #000
	padding-top: 30px 
	padding-bottom: 30px
	display: block
	h2
		text-align: left
		font-size: 28px
		span 
			display: block
			font-size: 25px
	p 
		font-size: 14px
		margin-bottom: 0
.blogo-items-footer
	display: flex 
	justify-content: center
	margin-top: 30px
	padding-bottom: 50px
.see-more__btn
	text-transform: uppercase 
	display: flex 
	width: 216px 
	height: 60px 
	justify-content: center 
	align-items: center
	color: #000 
	font-size: 9px
	font-weight: 700
	border: 1px solid #000
	font-family: 'brother-1816', 'BlinkMacSystemFont', -apple-system, 'Roboto', 'Lucida Sans'
	span 
		margin-left: 10px

.tab-content
	border-top: 1px solid #000 
	h1 
		border-top: 6px solid #000
		display: inline-block
		text-align: center
		margin-bottom: 50px
.tab-content__header
	display: flex 
	justify-content: center

.favorite__item
	display: flex
.favorite__item
	margin-bottom: 5vw
	h3 
		font-size: 2vw
	img 
		width: 100%
	a,
	span 
		display: block
		font-size: 0.9vw
		svg 
			margin-right: 0.5vw
	span 
		margin-bottom: 1.2vw

.favorite__item-img
	width: 45%
	margin-right: 3%
.favorite__item-text
	width: 50%
.page-footer
	display: flex
	justify-content: center
	padding-bottom: 2vw
.favorite__items-btn
	text-transform: uppercase
	color: $black
	font-weight: 700
	//background: $beige
	width: 13vw
	display: flex
	justify-content: center 
	align-items: center
	text-align: center
	padding: 0.4vw 1vw
	position: relative
.favorite__items-btn:before 
	content: ''
	position: absolute 
	background: #ffde184a
	left: 1vw
	width: 48% 
	top: 20%
	height: 80%
.favorite__items-btn:hover 
	color: #000
.tab-content--mag
	max-width: 900px
	margin: 0 auto
	margin-bottom: 5vw
	h2 
		text-align: left
.tab-header--page
	border-bottom: none
.profil
	padding-bottom: 5vw
	max-width: 1079px
	margin: 0 auto
	img 
		width: 100%
	h3 
		font-size: 20px
		padding-bottom: 1vw

	.slider-item
		overflow: hidden
		display: flex 
		justify-content: center 
		align-items: center
		img 
			width: 100%
	.line 
		width: 5vw
		height: 3px 
		background: #000
		margin-bottom: 2vw
	a 
		font-weight: 600
	a,
	div 
		font-size: 14px
.slider-wrapper
	position: relative
	overflow: hidden
	margin-top: 1vw
.prev,
.next 
	position: absolute
	top: 50%
	color: #fff
	transform: translateY(-50%)
	cursor: pointer
	transition: all 0.5s
	svg 
		width: 3vw 
		height: 3vw
		fill: rgba(#000, 0.7)
.prev:hover,
.next:hover
	svg 
		fill: #000
.next 
	right: 2%
	transform: translateY(-50%) translateX(110%)


.prev 
	left: 2%
	transform: translateY(-50%) translateX(-110%)
.slider-wrapper:hover
	.next
		transform: translateY(-50%) translateX(0%)
	.prev 
		transform: translateY(-50%) translateX(-0%)
.black-sec-wrap
	display: flex
	//padding-left: 10vw
.black-sec__container
	width: 1280px
	margin: 0 auto
	.black-section-content
		width: 480px
		max-width: 480px
		p 
			max-width: 350px
.container-tab-header
	max-width: 1010px
.profile-contact
	font-weight: bold
.follow-btn
	position: relative
.modal-menu
	position: absolute 
	top: 100%
	left: 100%
	background: #fff
	width: 200px
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.5)
	text-align: left
	padding-top: 15px
	border-radius: 5px
	display: none

	a 
		background: transparent
		text-align: left
		justify-content: flex-start
		align-items: flex-start
		text-transform: uppercase 
		color: #000
.modal-menu.active
	display: block

@import "media"



